    section.banner{
		padding-top:110px;
		padding-bottom:110px;
    }
        section.about{
        border:15px groove #7CBC96;
        margin-right:150px;
        margin-left:50px;
        padding:10px;
        color:#495790;
        font-size:28px;
        font-family:"Verdana";
        }
        section.about:hover{
        background-color:#7CBC96;
        color:#4DA3A3;
        }
                section.contact{
		        border:15px groove #7CBC96;
		        margin-right:150px;
		        margin-left:50px;
		        padding:10px;
		        color:#495790;
		        font-size:28px;
		        font-family:"Verdana";		}
		        }

        img.logo{
        border:15px groove #4DA3A3;
        margin:30px;
        padding:5px;
        }
        img.pic{
        border:23px groove #A52B2B;
        border-radius:10%;
        margin:100px;
        padding:20px;
        }
                section.favestuff{
		        border:15px groove #7CBC96;
		        margin-right:150px;
		        margin-left:50px;
		        padding:10px;
		        color:#444444;
		        font-size:28px;
		        font-family:"Verdana";		}
		        }

        p.fave{
        font-family: Arial;
        font-size:27px;
        color:#3E6A31;
        line-height:30px;
        }
        p.PS{
        font-family:"Times New Roman";
        color:#0000FF;
        font-size:27px;
        }
